<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="" href="#">
        <img src="../assets/images/logo-seekasia.png" class="logo">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="localStorage.getItem('currentUser') != null">
        <a href="#">
          <span class="fa fa-user"></span> Logged as
          <b>{{localStorage.getItem('currentUser') }}</b>
        </a>
      </li>
      <li *ngIf="localStorage.getItem('currentUser') != null">
        <a id="logout" [routerLink]="['/login']" (click)="logout()">
          <span class="fa fa-sign-out"></span> Log Out</a>
      </li>
      <li *ngIf="localStorage.getItem('currentUser') == null ">
        <a [routerLink]="['/login']">
          <span class="fa fa-sign-in"></span> Log In</a>
      </li>
    </ul>
  </div>
</nav>