<spinner-component [spinnerShow]="isLoading">
  <div class="text-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
  </div>
</spinner-component>

<div class="container" *ngIf="!isLoading">
  <div *ngFor="let ad of Ads" class="card">
    <div class="card-block">
      <div class="ad-info">
        <h4 class="card-title">
          <strong>{{ad.Name}}</strong>
        </h4>
        <p class="card-text">{{ad.Description}}</p>
        <div class="price">Price {{ad.Price | currency:'USD':'$'}}</div>
      </div>
      <div class="quantity">
        <input type="number" id="quantity" class="form-control" min="0" [(ngModel)]="ad.Quantity" (keydown)="validateNumber($event)" />
      </div>
      <div class="totalprice">Total {{ad.Price * ad.Quantity | currency:'USD':'$'}}</div>
      <div class="offer">
        <a title="Check offer" id="offer" *ngIf="ad.Offer" (click)="showOfferDetails(ad)">
          <i class="fa fa-tags"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-xs-12">
      <button class="btn btn-primary pull-right" id="checkout" (click)="showCheckout()" [disabled]="!validateCheckout()">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Check out</button>
    </div>
  </div>

  <!-- Offer Details Dialog -->
  <p-dialog [(visible)]="displayOfferDetails" *ngIf="displayOfferDetails" [modal]="true" [dismissableMask]="true" [showHeader]="false"
    [positionTop]="100" width="500">
    <offer-details (onHide)="hideOfferDetails()" [selectedAd]="selectedAd"></offer-details>
  </p-dialog>


  <!-- Checkout Result Dialog -->
  <p-dialog [(visible)]="displayCheckout" *ngIf="displayCheckout" [modal]="true" [showHeader]="false" [positionTop]="100" width="600">
    <checkout [Ads]="Ads" [(display)]="displayCheckout"></checkout>
  </p-dialog>