<div class="container">
  <div class="jumbotron">
    <i class="fa fa-check-circle"></i>
    <h1 class="display-3">Thanks for using our Services!</h1>
    <p class="lead">your checkout has been processed succesfully.</p>
    <hr class="my-4">
    <p>Please click back if you want to get more services.</p>
    <p class="lead">
      <button id="back" class="btn btn-primary btn-lg" (click)="back()" role="button" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-chevron-circle-left"></i> Back</button>
    </p>
  </div>
</div>